@media screen 
and (min-device-width: 911px) {
  .title-jedes-collaboration {
    margin-top: 17px;
    font-size: 27px;
  }
  .general-text {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  .jedes-spieler-infor {
    margin: 0 auto;
    width: 91%;
    padding-left: 31px;
    border-left: 2px solid burlywood;
  }
  .player-wrapper { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 91%;
    height: 100%;
  }
  .react-player {
    position: relative;
    float: inherit;
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  .player-itself {
    position: relative;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .player-control {
    margin: 5px;
    border-radius: 5px;
    font-size: 17px;
    width: 171px;
    height: 31px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  }
  .spieler-zahlen {
    font-weight: 300;
    margin-left: 7px;
    margin-top: 3px;
  }
  .spieler-symble {
    align-content: center;
    justify-content: center;
  }
  .object-center-margin {
    margin: 0 auto;
    width: 100%;
    align-content: center;
    justify-content: center;
  }  
  .input-personal-infor {
    border-radius: 3px;
    width: 311px;
    height: 17px;
  }
  .text-left-gap {
    margin-left: .5rem;
  }
}

@media screen 
and (max-device-width: 900px) {
  .title-jedes-collaboration {
    margin-top: 7px;
    font-size: 17px;
  }
  .general-text {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 5px;
    font-size: 11px;
    color: #2c3e50;
  }
  .jedes-spieler-infor {
    margin: 0 auto;
    width: auto;
    padding-left: 7px;
    font-size: 11px;
    border-left: 2px solid burlywood;
  }
  .player-wrapper { 
    position: relative;
    float: inherit;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
  }
  .react-player {
    position: relative;
    float: inherit;
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  .center-player {
    margin: 0 auto;
  }
  .player-itself {
    position: relative;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .play-control-center-margin {
    margin: 0 auto;
    width: 100%;
    align-content: center;
    justify-content: center;
  }
  .player-control {
    margin: 3px;
    border-radius: 3px;
    font-size: 11px;
    width: 91px;
    height: 31px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  }
  .spieler-zahlen {
    font-weight: 300;
    margin-left: 7px;
    margin-top: 3px;
  }
  .spieler-symble {
    align-content: center;
    justify-content: center;
  }
}

.textarea-public-text {
  margin: 0 auto;
  width: 71%;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 31px;
  border-left: 2px solid burlywood;
}
.modify-title-commend-area {
  margin: 0 auto;
  width: 71%;
}
.modify-title-input {
  height: 31px;
  border-top: 1px solid cornsilk;
  border-left: 1px solid cornsilk;
  border-right: 1px solid cornsilk;
  border-bottom: 1px solid burlywood;
}
.modify-commend-input {
  margin-top: 17px;
  width: 100%;
  height: 51px;
}
.modify-save {
  margin-top: 17px;
  border: 1px solid darkgoldenrod;
  border-radius: 3px;
  padding: 3px;
  font-size: 11px;
  width: 51px;
  text-align: center;
  cursor: pointer;
}
.modify-save:hover {
  font-weight: 500;
  color: brown;
  background-color: cornsilk;
}
.modify-save:active {
  border: 2px solid darkgoldenrod;
  box-shadow: 0 7px 7px 0 solid rgb(0, 0, 0);
}