
.text, .title {
  font-size: 17px;
  color: rgb(77, 17, 17);
  margin-bottom: 0ch; 
}
.title {
  font-family: serif;
  font-weight: 700;
  margin-top: 17px; 
}
.text-pointer {
    cursor: pointer;
}
.center-text {
  text-align: center;
}
.making-row {
    display: flex;
    flex-direction: row;
}
.separate-two-side {
    justify-content: space-between
}


.width-option {
  margin-top: 17px;
  width: 51px;
}